body, a{
    color: $defoult-color;
    font-size: 16px;
    @extend %Quicksand-400;
}


.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.container{
    margin: 0 auto;
    max-width: 1170px;
    padding: 0 15px;
}


.main{
    flex-grow: 1;
}

.title{
    text-align: center;
    font-size: 48px;
    @extend %Roboto-700;
    color: $title-color;
    line-height: 56px;
    margin-bottom: 10px;
}
.text{
    text-align: center;
    max-width: 570px;
    margin: 0 auto 30px;
    line-height: 25px;
}

.breadcrumbs{
    display: inline-flex;
    justify-content: center;
    padding-left: 25px;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        background: url('../img/icon/home.svg') no-repeat center / cover;
        top: 0;
        left: 0;
        width: 16px;
        height: 16px;
    }
    &__list{
        display: flex;
    }
    &__item{
        padding-right: 40px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            background: url('../img/icon/bcr-arrow.svg') no-repeat center / cover;
            width: 9px;
            height: 10px;
            top: 3px;
            right: 15px;
        }
        &:last-child{
            padding-right: 0;
            color: $accent-color;
            &::after{
                background: none;
            }
        }
    }
    &__link{
        color: inherit;
    }
}