$accent-color: #fe3e57;
$defoult-color: #8d8d8d;
$title-color: #29282b;
$bg: #f6f6f6;

%Quicksand-400{
    font-family: "Quicksand-Regular", sans-serif;
    font-weight: 400;
}

%Quicksand-500{
    font-family: "Quicksand-Medium", sans-serif;
    font-weight: 500;
}

%Roboto-700{
    font-family: "Roboto-Bold", sans-serif;
    font-weight: 700;
}

%Roboto-400{
    font-family: "Roboto-Regular", sans-serif;
    font-weight: 400;
}

%btn{
    text-transform: uppercase;
    color: #fff;
    background-color: $accent-color;
    padding: 14px 35PX;
    box-shadow: 0 7px 20px 0px rgba(255, 17, 48, 0.3);
    @extend %Roboto-400;
}